<footer class="footer">
  <div class="row">
    <div class="col-lg-4">
      <u>Project Site Address</u>
      <br>
      Stand No. 835
      <br />
      Ndhambi Village
      <br />
      Dzumeri <br />
      0826 <br />
      South Africa
    </div>
    <div class="col-lg-4">
      <u>Postal Address</u>
      <br />
      644 Makou Street
      <br />
      Monument Park Ext 2
      <br />
      Pretoria
      <br />
      South Africa
      <br />
      0181
    </div>
    <div class="col-lg-4">
      <u>Contact details</u>
      <br />
      Email: Frederick.shikweni@gmail.com
      <br />
      Cell: 084 449 2163
      <br />
      Fax: (+27) 86 590 6650
    </div>
  </div>
</footer>
