<h2>Checkout our products</h2>
<div class="sliding-card row row-cols-1 row-cols-md-3">
  <div class="col mb-1">
    <div class="card h-100">
      <img src="../../../../assets/food1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Food 1</h5>
        <p class="card-text">Food 1 is food</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../../../../assets/food1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Food 2</h5>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../../../../assets/food1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Food 3</h5>
        <p class="card-text">Food 3 is the best.</p>
      </div>
    </div>
  </div>
</div>
