<section class="flex-column main-center cross-center">
  <br />
  <p class="welcome-text">
    Welcome to Precedential Agricultural Holdings (Precedential Agri. Holdings) a rural project that focuses on mixed agricultural production. This venture was started in February 2015, and currently it is breeding free range chickens for eggs and meat, goats for meat and skins as well as crops and vegetables for commercial purposes. The project was founded essentially to contribute to creating jobs for the rural and poor communities to address unemployment and poverty in rural, poverty-stricken and previously disadvantaged communities.
  </p>
<br />
</section>
