@import './variables.scss';


footer {
  height: auto;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  background-color: $navbar-bg-color;
  bottom: 0;
  color: $ab-white-color !important;
  padding: 20px;
  font-size: 12px;
}
