
section {
  background-image: url('assets/tractor.gif') !important;
  min-height: 60vh !important;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat !important;
}
h2 {
  color: $navbar-bg-color !important;
  font-family: 'Arial';
  text-align: center;
  font-weight: 800;
  margin: 1em;
}

.welcome-text {
  color: white;
  font-family: 'Arial';
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  // text-align: center;
  font-weight: 800;
  margin: 1em;
  width: 400px;
  display: flex !important;
  justify-content: center !important;
  padding:30px;
}

@media only screen and (max-width: $desktop-width) {
  .welcome-text{
    background-image: none;
    color: $navbar-bg-color;
    width: auto;
  }
}

/**Form Styling**/
select,
button {
  appearance: none;
  border: none;
  border-radius: 0px;
  padding: 1em;
  background: #fff;
}

.city {
  border-right: #420000 solid 1px;
  border-radius: 2.5em 0em 0em 2.5em;
}
button {
  border-radius: 0em 2.5em 2.5em 0em;
  background: #420000;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  section {
    background-size: contain;
    background-repeat: round;
  }
  h2 {
    font-size: 2em;
  }

  /**Form Styling**/
  select,
  button {
    flex-basis: 33%;
    font-size: 1.3em;
  }

  form {
    width: 60%;
  }
}
