@import './variables.scss';

.logo{
  height: 40px;
}
.navbar-bg-mod {
  background-color: $navbar-bg-color;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

.navbar-font-color-mod {
  color: $navbar-font-color !important;
}

.navbar-padding {
  padding: .5rem 2rem !important;
}
