$navbar-font-color: white;
$navbar-bg-color: #3a86e2;
$ab-green-color:#b847bc;
$ab-white-color: #ffffff;
$ab-red-color:  #ff5733 ;
$font-size: 12px;
$mobile-width: 600px;
$tablet-width: 768px;
$desktop-width: 992px;
